html {
  font-size: 13px;
  font-family: Arial;
}

body h1 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

body h2 {
  margin: 1em 0;
  font-size: 15px;
  font-weight: normal;
}

body a {
  color: green;
}
