body {
  font-family: Arial;
  font-size: 13px;
}

h1 {
  font-weight: bold;
  font-size: 17px;
  margin: 0;
}

h2 {
  font-weight: normal;
  font-size: 15px;
  margin: 1em 0;
}

a {
  color: green;
}

a:visited {
  color: green;
}
