body {
  font-family: Arial, serif;
  font-size: 13px;
  margin-top: -3px;
}

h1 {
  font-size: 17px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link_pdf {
  color: green;
  font-size: 15px;
}
