body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

a {
  color: green;
}

h1 {
  font-size: 17px;
  margin-top: 0;
}

h2 {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: normal;
}
