body {
  font-family: Arial;
  font-size: 13px;
}

.first-header {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.second-header {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: green;
}
