body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1,
p {
  margin: 0;
}

h1 {
  font-size: 17px;
  font-weight: 700;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  margin: 1em 0;
}

.link {
  color: green;
}
