body {
  font-family: Arial, sans-serif;
  font-size: 13px;
  
  
}

.title {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
  
}

.second_title {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
  
}

.link {
  color: green;
}
