body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.heading {
  font-size: 15px;
  font-weight: 400;
  margin-top: 1em 0;
}

.paragraph {
  margin: 0;
}

.list {
  margin: 0;
}

.green_link {
  font-size: 15px;
  font-weight: 400;
  color: green;
}
