body {
  font-family: Arial;
  font-size: 13px;
}

h1,
p {
  margin: 0;
}

a {
  color: green;
}

.first_heading {
  font-size: 17px;
  font-weight: bold;
}

.second_heading {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}
