body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  margin: 0;
}

.article {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.paragraph {
  margin: 0;
}

.green-text {
  color: green;
}
