body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.heading {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.article {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link {
  color: green;
}
