body {
  font-family: Arial;
  font-size: 13px;
}

.display-1 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.display-2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link {
  color: green;
}
