body {
  font-family: Arial;
  font-size: 13px;
}

.declaration-style {
  font-size: 17px;
  margin: 0;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

.other-articles {
  font-weight: normal;
}

.link {
  color: green;
}
