body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.header {
  font-weight: bold;
  font-size: 17px;
  margin-top: 0;
}

.title {
  font-weight: normal;
  font-size: 15px;
  margin: 1em 0;

}

.link-color {
  color: green;
}
