html {
  font-family: Arial , sans-serif;
  font-size: 13px;
}

.h1-universal {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.h2-article {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.ahref-article {
  color: green;
}

.p-article {
  margin: 0;
}
