* {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 15px;
  margin: 1em 0;
  font-weight: normal;
}

h2 > a {
  color: green;
  font-size: 15px;
}
