body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.list,
.paragraph,
.title_main {
  margin: 0;
}

.title_main {
  font-size: 17px;
}

.title_low {
  font-size: 15px;
  font-weight: 400;
  margin: 1em 0;
}

.link_green {
  color: green;
}
