body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.first {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

p {
  margin: 0;
}

a {
  color: green;
  font-size: 15px;
  font-weight: normal;
}
