
body {
  font-family: Arial;
  font-size: 13px;
  line-height: normal;
}

#h1-heading {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

#h2-heading {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

a {
  color: green;
}
