body {
  font-family: Arial;
  font-size: 13px;
}

h1,
p,
ol {
  margin: 0;
}

h1 {
  font-size: 17px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: normal;
  padding: 0;
}

a {
  color: green;
}
