body {
  font-family: Arial;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  margin-top: 0;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  font-size: 15px;
  color: green;
}
