.text-container {
  width: 1024px;
  margin: 0 auto;
  font: 13px "Arial", sans-serif;
}

h1 {
  font: bold 17px "Arial", sans-serif;
}

h2 {
  font: 15px "Arial", sans-serif;
}

p {
  margin: 0;
}

.text-container a {
  color: green;
}
