html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  margin: 0;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em auto;
}

p {
  margin: 0;
}

a {
  color: green;
}
