body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.heading-1 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.heading-2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.heading-2__link {
  color: green;
}
