body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
}

.heading,
.paragraph,
.list {
  margin: 0;
}

.heading {
  font-size: 17px;
}

.subheading {
  font-size: 15px;
  font-weight: 400;
  margin: 1em 0;
}

.green {
  color: green;
}
