html {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1 {
  font-style: bold;
  font-size: 17px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-weight: inherit;
  font-size: 15px;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  color: green;
}
