body {
  font-size: 13px;
  font-family: Arial;
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
  font-size: 17px;
}

h2 {
  font-weight: normal;
  font-size: 15px;
  margin: 1em 0;
}

h2 a {
  color: green;
  text-decoration: none;
}
