body {
  font-family: Arial, sans-serif;
  font-size: 13px;

}

.headName {
  font-size: 17px;
  font-weight: bold;
  margin-top: inherit;
}

.preName {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link {
  color: green;

}
