body {
  font-family: arial;
  font-size: 13px;
}

.header-main {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.header-second,
.header-link a {
  font-size: 15px;
  font-weight: normal;
}

.header-second {
  margin: 1em 0;
}

.header-link {
  color: green;
}
