body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.article-title {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}

.article {
  font-size: 15px;
  font-weight: 100;
  margin: 1em 0;
}

.link-color {
  color: green;
}
