body {
  font-family: Arial;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 15px auto;
}

p {
  line-height: 1.17;
}

a {
  color: green;
}
