body {
  font-size: 13px;
  font-family: Arial, sans-serif;

}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 8px;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

a {
  color: green;
}
