* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

h1 {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1em;
  margin-bottom: 1em;
}

p {
  margin-top: 0;
}

a {
  color: green;
  margin-top: 0;
  font-size: 15px;
}

ol {
  margin-top: 0;
}
