html {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

h1,
h2,
p {
  margin: 0;
}

.first-h {
  font-size: 17px;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.articles {
  color: green;
}
