body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

p,
 
h1 {
  margin: 0;
}

h1 {
  font-size: 17px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

a {
  color: green;
}
