body {
    font-family: Arial, sans-serif;
    font-size: 13px;
  }
  
  .title {
    font-weight: bold;
    font-size: 17px;
    margin: 0;
  }
  
  .preamble,
  .article {
    font-weight: 400;
    font-size: 15px;
    margin: 1em 0;
  }
  
  .paragraph {
    margin: 0;
  }
  
  .list {
    margin: 0;
  }
  
  .link {
    color: green;
    font-size: 15px;
    font-weight: 400;
  }