body {
  font-family: Arial, sans-serif;
  font-size: 13px;
}

.title {
  font-size: 17px;
  font-weight: bold;
}

.subtitle {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link {
  color: green;
}

.title,
p {
  margin: 0;
}
