body {
  font-family: Arial;
  font-size: 13px;
}

.heading {
  font-size: 17px;
  font-weight: bold;
  margin-top: 0;
}

.article-title {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.next-articles {
  color: green;
}
