body {
  font-size: 13px;
  font-family: Arial;
}

h1 {
  margin: 0;
  font-size: 17px;
  font-weight: bold;
}

h2 {
  font-size: 15px;
  font-weight: normal;
  margin: 1em 0;
}

.link-green,
.link-green:visited {
  color: green;
}

.paragraph {
  margin: 0;
}
